


<h2><strong>Enter your city to track your goods truck</strong></h2>

<div class="container">
    <div class="jumbotron">
        <form class="row g-3" action="/track/TrackByCity" method="get">
            <div class="col-12">
                <label for="inputmob" class="form-label"><strong>Enter Your City</strong></label>
                <input type="text" class="form-control" id="mobno" placeholder="eg.Pune" name="city">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button> &nbsp; <button type="button" class="btn btn-warning">Reset</button>
            </div>
            </form>
    </div>
</div>