



<h4><strong>Distributor Login</strong></h4>


<form action="/distributors/login" method="get">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">User Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="eg.Maharaja Bhandar" name="uname">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Contact Number" name="contactNum">
    </div>
    <input type="submit" class="btn btn-primary"> &nbsp; <input type="button" class="btn btn-danger" name="cancel" value="Cancel"> &nbsp;&nbsp;

    <h5>Not Distributor yet ?</h5><br>
    <a href="/distributors/regform">Register here</a>
</form>

