
<h2><u>New Distributor Registration</u></h2>
<br>
<br>

<div class="container">
    <div class="jumbotron">
        <form class="row g-3" action="/distributors/insert" method="post">
            <div class="col-12">
                <label for="inputEmail4" class="form-label"><strong>Distributor Name</strong></label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Enter Shop Name" name="name">
            </div>
            <div class="col-12">
                <label for="inputmob" class="form-label"><strong>Distributor Address</strong></label>
                <input type="text" class="form-control" id="mobno" placeholder="Enter Shop Address" name="address">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label"><strong>Distributor Contact Number</strong></label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Enter Mobile No." name="mobno">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button> &nbsp; <button type="button" class="btn btn-warning">Reset</button>
            </div>

        </form>
    </div>
</div>
