@using BOL;
@{ Ration r = (Ration)this.ViewData["goods"];

    <h3 style="color:black"><u>Update Goods</u></h3>
    <br>
    <br>

    <div class="container">
        <div class="jumbotron">
            <form class="row g-3" action="/ration/update" method="get">
                <div class="col-12">
                    <label for="input" class="form-label"><strong>Goods Name</strong></label>
                    <input type="text" class="form-control" id="input" value="@r.goodsId" name="id" readonly>
                </div>
                <div class="col-12">
                    <label for="input" class="form-label"><strong>Goods Name</strong></label>
                    <input type="text" class="form-control" id="input" value="@r.goodsName" name="gname" readonly>
                </div>
                <div class="col-12">
                    <label for="inputmob" class="form-label"><strong>Goods Cost</strong></label>
                    <input type="number" class="form-control" id="mobno" value="@r.goodsCost" name="cost">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label"><strong>Goods Quantity</strong></label>
                    <input type="number" class="form-control" id="inputAddress" value="@r.goodsQuantity" name="qtn">
                </div>


                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button> &nbsp; <button type="button" class="btn btn-warning">Reset</button>
                </div>

            </form>
        </div>
    </div>

}