
@using BOL;

<h2><strong>Ration List</strong></h2>

<table width="500" cellpadding="5" cellspacing="0" border="1">


    @{ List<Ration> rl = (List<Ration>)this.ViewData["Rlist"];
        foreach (Ration r in rl)
        {

            
    <tr>
           <th> @r.goodsName </th>
            <th> @r.goodsCost </th>
            <th> @r.goodsQuantity</th>
           <th><a href="/ration/delete?id=@r.goodsId">Delete</a> </th>
           <th> <a href="/ration/ById?id=@r.goodsId">Update</a> </th>
</tr>

        }
    }
</table>
