<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

    <div class="w3-container">
        <div class="w3-panel w3-leftbar">
            <p>
                <i class="fa fa-quote-right w3-xxlarge"></i><br>
                                                            <i class="w3-serif w3-xlarge">
                                                                In the days of pandemic and lockdown,It is very important to make sure every family even in villages

                                                                gets all the daily materials including food and daily needs. In a country like India where corruption is on high,
                                                                delays in the reaching of materials,  excess money consumption, replacing the goods with bad quality ration can take place.
                                                                so we have developed this system so that government appointed officials can track and trace the vehicle

                                                                to keep a watch on the drivers and  whole journey of ration truck will be observed by govt as well as customers
                                                                and the ration distributor to minimize corruption!
                                                            </i>
            </p>
        </div>
    </div>

</body>
</html>
