
@{
    ViewBag.Title = "check";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Contacts for various check posts in Maharashtra</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Checkpost name</th>
                    <th>Contact person name</th>
                    <th>Contact no</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Solapur</td>
                    <td>M.Patil</td>
                    <td>9988776654</td>
                </tr>
                <tr>
                    <td>Satara</td>
                    <td>S.Raj</td>
                    <td>6655443322</td>
                </tr>
                <tr>
                    <td>Sangli</td>
                    <td>D.Deshmukh</td>
                    <td>7788995543</td>
                </tr>
                <tr>
                    <td>Dapoli</td>
                    <td>O.Patil</td>
                    <td>8877665543</td>
                </tr>
                <tr>
                    <td>Mumbai</td>
                    <td>G.Gaurav</td>
                    <td>9577777543</td>
                </tr>
                <tr>
                    <td>Pune</td>
                    <td>Y.Ravi</td>
                    <td>7788933543</td>
                </tr>
                <tr>
                    <td>Aurangabad</td>
                    <td>R.Raje</td>
                    <td>7876542345</td>
                </tr>
                <tr>
                    <td>Amravati</td>
                    <td>N.Deshmukh</td>
                    <td>8888995543</td>
                </tr>
                <tr>
                    <td>Buldhana</td>
                    <td>D.Kolte</td>
                    <td>9333335543</td>
                </tr>
                <tr>
                    <td>Badnera</td>
                    <td>w.Raman</td>
                    <td>8786595543</td>
                </tr>
                <tr>
                    <td>Latur</td>
                    <td>G.Mane</td>
                    <td>8765432345</td>
                </tr>
                <tr>
                    <td>Nashik</td>
                    <td>A.Rhanae</td>
                    <td>7787654543</td>
                </tr>
                <tr>
                    <td>Nanaded</td>
                    <td>W.Kulkarni</td>
                    <td>9955422223</td>
                </tr>
                <tr>
                    <td>Nagpur</td>
                    <td>P.Ray</td>
                    <td>8992225543</td>
                </tr>
                <tr>
                    <td>Gadchiroli</td>
                    <td>R.Ramteke</td>
                    <td>8899522543</td>
                </tr>
                <tr>
                    <td>Chandrapur</td>
                    <td>D.Bhide</td>
                    <td>7288987543</td>
                </tr>
                <tr>
                    <td>Dhamangaon</td>
                    <td>C.Patil</td>
                    <td>7452657543</td>
                </tr>
                <tr>
                    <td>Malkapur</td>
                    <td>D.Dipte</td>
                    <td>8893395543</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>


