
@{
    ViewBag.Title = "image";
}
<h3><strong>Image Gallery</strong></h3>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img src="~/Images/ration 3.jpg" style="width:100%" width="300" height="300">
                    <div class="caption">
                        <p>Distribution at distributor end</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img src="~/Images/newtr.jpg" style="width:100%" width="300" height="300">
                    <div class="caption">
                        <p>Truck with Goods</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="C:\Users\thakr\Downloads\truck.jpg" target="_blank">
                    <img src="~/Images/truck2.jpg" style="width:100%" width="300" height="300">
                    <div class="caption">
                        <p>Truck with goods getting ready to be dispatched</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
