

<h4><strong>Admin Login</strong></h4>


<form action="/admin/login" method="get">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter username" name="email">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter EMPID" name="empId">
    </div>
    <input type="submit" class="btn btn-primary"> &nbsp; <input type="button" class="btn btn-danger" name="cancel" value="Cancel"> &nbsp;&nbsp;

   <h5>Not Admin yet ?</h5><br> 
       <a href="/admin/regform">Register here</a>
</form>

