

    <h2><u>New Admin Registration</u></h2><br><br>

<div class="container">
    <div class="jumbotron">
        <form class="row g-3" action="/admin/insert" method="post">
            <div class="col-12">
                <label for="inputEmail4" class="form-label"><strong>Employee Name</strong></label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Enter Your Name" name="aname">
            </div>
            <div class="col-12">
                <label for="inputmob" class="form-label"><strong>Employee Email-Id</strong></label>
                <input type="text" class="form-control" id="mobno" placeholder="Enter Your email" name="mail">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label"><strong>Employee Id</strong></label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Enter EmpId" name="empid">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button> &nbsp; <button type="button" class="btn btn-warning">Reset</button>
            </div>

        </form>
    </div>
</div>



