
<h4> <strong>Customer Login</strong></h4>


<form action="/customers/login" method="get">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter username" name="uname">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Ration Card Number" name="rationNo">
    </div>
    <input type="submit" class="btn btn-primary" > &nbsp; <input type="button" class="btn btn-danger" name="cancel" value="Cancel"> &nbsp;&nbsp;

    <button type="button" class="btn btn-secondary">Register here</button>
</form>

